*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(patt.png);
	
}

.container{
	padding:25px 0px;
}
/*-------------------Style For Header-------------------*/
.header{
	background: rgba(255,255,255,0.75);
}

.row:after{
	content: "";
	display: block;
	clear: both;
}
/*--------------for logo in header--------*/
.logo{
	text-align: center;
	height: 50px;
}
[class*="col-"]{
	float: left;
	display:block;
}
/*-------------------For Navigation in header-----*/
.menu>li{
	width: 25%;
	border-right: 1px solid #2c70b7;
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.menu>li:first-child {
	border-left:1px solid #2c70b7;
}
.menu li a {
	text-decoration: none;
	font-size: 21px;
	text-align: center;
	display: block;
}
.submenu{
	display: none;
}
.li:hover a{
	color: #fff;
	background: #2c70b7;
}
.li:hover ul{
	width: 200%;
	display: block;
	background: #2c70b7;
	text-align: left;
}
.li:hover ul>li>a{
	color:#fff;
	padding-left: 20px;
	text-align: left;
}
.li ul>li>a:hover{
	color:#2c70b7;
	background: #fff;
	display: block;
	text-align: left;
}
/*----------For Search in Header--------*/

.form /* класс дива в котором находится форма*/{
/* задаём границы для дива в котором находится форма и кнопка 
	что б визуально вставить кнопку в поле формы*/
	border: 1px solid #2c70b7;
	display: inline-block;
/* задаём позиционирование, и для кнопки тоже зададим позиционирование*/
	position: relative;
	/*задаём высоту и ширину этому диву*/
	width: 150px;
	height: 40px;
	/* Выравниваем содержимое по центру*/
	line-height: 40px;
	margin-left: 30px;
}
.input,.button{
/* Сбрасываем настройки для кнопки и для формы*/
	border: none;/*убираем рамку*/
	background-color:transparent;/* убираем задний фон*/	 
	padding: none;/* убираем внутренние отступы*/
	outline: none;/* убираем подсвечивание поля формы при фокусе*/
	-webkit-appearance:none;/* убираем подсвечивание поля формы при фокусе*/
}
.button{
/*для кнопки задаём внешние отступы что б она не прилипала к рамке дива*/
	margin: 2px;
/* Задаём кнопке позиционирование относительно родительского div.form*/
	position: absolute;
	top: 0px;
	right: 0px;
/* ширина кнопки с учётом марджина*/
	width: 38px;
	height: 34px;
	line-height: 34px;

	background: #2c70b7;
}
.input{
/* ширина и правый, левый внешний отступ поля ввода*/
	padding-right: 30px;
	width: 120px;
	padding-left: 20px;
}

.brc/* родительский див для дива .form*/{
/* внешний отступ относительно родительского div.row*/
	padding: 5px;
}
/*-------------for Basket----------*/

.basket{
/* задаём display: inline-block; для того что б 
див стал в одну линию с формой*/
	display: inline-block;
	background: #fff;
/* Отступ от дива с формой(замерял расстояние в макете)*/
	margin-left: 30px;
}
.basket a{
	height: 40px;
	line-height: 40px;
	width: 40px;
	margin: 10px;
	text-align: center;
}